/* Luke Odom
 February 20 2025 */

 header {
    background-color: red;
 }

 footer{
    background-color: red;
 }

 p, ul, li {
    font-size: 20px;
}

a:link{
    color:white
}

a:visited
{
    color:green
}

a:hover{
    color:aquamarine
}

a:active{
    color:purple
}